
      <nav class="navbar navbar-expand-lg navbar-light bg-light   fixed-top"  >
          <div class="container" >
            
        
           
              <ul class="nav nav-tabs">
                  <li>  <a href="/" class="navbar-brand">
                        <img src="./assets/logo/y.svg" width="50" height="60" alt="">
                      </a> </li>
                <li class="active">
                  <a class="nav-link"  href="#">   <h4 >Home</h4> <span class="sr-only">(current)</span></a>
                </li>
                <li class="active">
                        <a class="nav-link"  href="#">   <h4 >Scholarships</h4> <span class="sr-only">(current)</span></a>
                      </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><h4>Interships aboard </h4></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"><h4>Fellowships</h4></a>
                </li>
                
                <li class="nav-item">
                        <a class="nav-link" href="#"><h4>Summits</h4> </a>
                      </li><li class="nav-item">
                            <a class="nav-link" href="#"><h4>Grants</h4></a>
                          </li>
                          <li class="nav-item">
                                <a class="nav-link" href="#"><h4>Volunteer</h4></a>
                              </li>
                
              </ul>
          
            </div>
          </nav>